@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Spotify";
  src: url(SpotifyMix-Regular.ttf);
}
html{
  font-family: Spotify;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Oculta a barra de rolagem no Webkit */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scroll-smooth {
    scroll-behavior: smooth;
  }
/* seu arquivo de estilo */
.parallax {
  position: relative;
}
.word-spacing-wide {
  word-spacing: 0.4rem;
}
.word-spacing-wider {
  word-spacing: 1rem;
}
.parallax .bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: move infinite alternate;
}
/* Ocultar a barra de rolagem */
.scrollbar-hidden::-webkit-scrollbar {
  width: 10px;}

.scrollbar-hidden {
  scrollbar-width: thin; /* Largura da barra */
  scrollbar-color: #888 transparent; /* Cor da área deslizante e fundo */

}

.scale-hover {
  transition: transform 300ms ease-in-out; 
  transform: scale(1); /* Inicialmente, sem escala */
}

.scale2 {
  transition: all 300ms ease-in-out;

}
.scale-hover:hover  {

  transform: scale(1.1); /* Inicialmente, sem escala */
}
.brightness-hover{
  filter: brightness(1);
}

.brightness-hover:hover{
  filter: brightness(1.75);
}



@keyframes marquee {
  0% {
    transform: translateX(20%); /* Começa fora da tela à direita */
  }
  50% {
    transform: translateX(0); /* Chega na posição normal (no meio da animação) */
  }
  100% {
    transform: translateX(-100%); /* Sai para a esquerda completamente */
  }
}

/* Aplicação automática da animação */
.animate-marquee {
  display: inline-block;
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
  animation: marquee 10s linear infinite; /* A animação vai do lado direito até o esquerdo */
}

.img-white{
  filter: grayscale(100%) brightness(200%) saturate(0);

}